*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#player{
    position: absolute;
    width: 150px;
    height: 130px;
    // background-color: red;
    bottom:550px;
    // background-image: url(/img/templerun/Idle__001.png);
    background-size: contain;
    background-repeat: no-repeat;
}

body{
    height: 100vh;
    overflow: hidden;
    background-image: url(/img/BG.png);
    background-size: contain;
}
#ground{
    position: absolute;
    background-color: yellowgreen;
    width: 100vw;
    height: 200px;
    bottom: 0;
    background-image: url(/img/Tile\ \(2\).png);
    background-size: contain;
}

/* #ground::after{
    content: '';
    display: block;
    width: 100px;
    height: 150px;
    bottom:300px;
    background-color: aquamarine;

} */
.turn{
    transform: rotateY(180deg);
}